SMG-Console/SMG-Console/obj/Debug/net8.0/SMG-Console.sourcelink.json
SMG-Console/SMG-Console/obj/Debug/net8.0/SMG-Console.pdb
SMG-Console/SMG-Console/obj/Debug/net8.0/SMG-Console.genruntimeconfig.cache
SMG-Console/SMG-Console/obj/Debug/net8.0/SMG-Console.dll
SMG-Console/SMG-Console/obj/Debug/net8.0/SMG-Console.csproj.FileListAbsolute.txt
SMG-Console/SMG-Console/obj/Debug/net8.0/SMG-Console.csproj.CoreCompileInputs.cache
SMG-Console/SMG-Console/obj/Debug/net8.0/SMG-Console.csproj.BuildWithSkipAnalyzers
SMG-Console/SMG-Console/obj/Debug/net8.0/SMG-Console.AssemblyInfoInputs.cache
SMG-Console/SMG-Console/obj/Debug/net8.0/SMG-Console.AssemblyInfo.cs
SMG-Console/SMG-Console/obj/Debug/net8.0/refint/SMG-Console.dll
SMG-Console/SMG-Console/obj/Debug/net8.0/ref/SMG-Console.dll
SMG-Console/SMG-Console/obj/Debug/net8.0/apphost.exe
SMG-Console/SMG-Console/bin/Debug/net8.0/SMG-Console.runtimeconfig.json
SMG-Console/SMG-Console/bin/Debug/net8.0/SMG-Console.pdb
SMG-Console/SMG-Console/bin/Debug/net8.0/SMG-Console.exe
SMG-Console/SMG-Console/bin/Debug/net8.0/SMG-Console.dll
SMG-Console/SMG-Console/bin/Debug/net8.0/SMG-Console.deps.json
SMG-Console/SMG-Console/obj/Debug/net8.0/SMG-Console.AssemblyInfo.cs
SMG-Console/SMG-Console/obj/Debug/net8.0/SMG-Console.AssemblyInfoInputs.cache
/SMG-Console/SMG-Console/obj
SMG-Console/SMG-Console/obj/Debug/net8.0/SMG-Console.GeneratedMSBuildEditorConfig.editorconfig
SMG-Console/SMG-Console/obj/Debug/net8.0/SMG-Console.assets.cache
SMG-Console/SMG-Console/obj/Debug/net8.0/SMG-Console.AssemblyInfoInputs.cache
SMG-Console/SMG-Console/obj/Debug/net8.0/SMG-Console.AssemblyInfo.cs
SMG-Console/.vs/SMG-Console/v17/DocumentLayout.json
SMG-Console/.vs/SMG-Console/v17/.suo
*.cache
SMG-Console/SMG-Console/obj/Debug/net8.0/SMG-Console.GeneratedMSBuildEditorConfig.editorconfig
SMG-Console/SMG-Console/obj/Debug/net8.0/SMG-Console.assets.cache
SMG-Console/SMG-Console/obj/Debug/net8.0/SMG-Console.AssemblyInfoInputs.cache
SMG-Console/SMG-Console/obj/Debug/net8.0/SMG-Console.AssemblyInfo.cs
SMG-Console/.vs/SMG-Console/v17/DocumentLayout.json
SMG-Console/.vs/SMG-Console/v17/.suo
SMG-Console/.vs